<div class="container text-center">
  <h1 class="mb-4">Eat Da Burger</h1>

  <div class="row mb-3">
    <div class="col-sm-6 text-right mb-5" id="burger-container">
      {{#each burger}} {{#unless devoured}}
      <div class="btn btn-primary devour-btn mb-3 d-block" data-id="{{id}}" data-burger_name="{{burger_name}}" data-devoured="{{devoured}}">
        <p>{{id}}. {{burger_name}} <span class="badge badge-light">Devour it</span></p>
      </div>
      {{/unless}} {{/each}}
    </div>

    <div class="col-sm-6 text-left devoured-container">
      {{#each burger}} 
        {{#if devoured}}
          <div>
            <p class="d-inline">{{id}}. {{burger_name}} <small class="text-muted">devoured</small></p>
          </div>
        {{/if}} 
      {{/each}}
    </div>

  </div>
  <div>
    <textarea name="input" class="p-3 rounded" id="submit-btn" cols="0" rows="1" placeholder="Add a burger"></textarea>
  </div>
</div>