<h1>Eat Da Burger</h1>

  <div id="burger-container">
    {{#each burger}}
      {{#unless devoured}}
      <div>
        <p class="d-inline">{{id}}. {{burger_name}}</p>
        <button class="update-btn" data-id="{{id}}" data-burger_name="{{burger_name}}" data-devoured="{{devoured}}">Devour it</button>
      </div>
      {{/unless}}
    {{/each}}
  </div>

  <div class="devoured-container">
    <h2>devoured</h2>
    {{#each burger}}
      {{#if devoured}}
      <div>
        <p class="d-inline">{{id}}. {{burger_name}}</p>
        <p>devoured</p>
      </div>
      {{/if}}
    {{/each}}
  </div>



  <div>
    <textarea id="create-burger" cols="0" rows="1"></textarea>
  </div>

  <button id="submit-btn" type="submit">Add burger</button>
</form>